body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Barra lateral */
.sidebar {
  background-color: #e0e0e0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; 
  z-index: 10;
  transition: left 0.3s ease; 
}

.sidebar.hidden {
  left: -250px; 
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  /* Agrega aquí el estilo para tu logo */
  width: 100px;
  height: 100px;
  background-color: #ddd; 
  margin: 0 auto 10px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
}

.nav li a:hover {
  background-color: #ddd;
}

.social-media {
  margin-top: 20px;
  text-align: center;
}

.social-media a {
  display: inline-block;
  margin: 0 5px;
  color: #333;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

/* Contenido principal */
.content {
  margin-left: 250px; 
  padding: 20px;
}

/* Galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin-top: 20px; 
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block; 
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.ver-mas {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.gallery-item:hover .ver-mas {
  opacity: 1;
}

/* Modal para la imagen completa */
.modal {
  display: none;
  position: fixed;
  z-index: 11; /* Aumentamos el z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Ajustamos el margen superior */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px; 
  position: relative;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-descripcion {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .sidebar {
    width: 70%; 
    left: -70%; 
  }

  .sidebar.hidden {
    left: 0; 
  }

  .content {
    margin-left: 0; 
  }

  .modal-content {
    width: 95%; 
  }
}